:root {
  --white: #ffffff;
  --black-70: rgba(0, 0, 0, 0.7);
}

.Toolbar {
  margin-top: -40px;
  background-color: var(--white);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  margin: -1em 0 0;
  overflow: hidden;
  z-index: 1;
  box-shadow: inset;
  position: fixed;
}

.Text_Style_2 {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #334144;
}