.Logo {
  background-color: white;
  height: 135px;
  margin-bottom: 115px;
  margin-right: 250px;
}

.Logo img {
  width: 350px;
}

@media (max-width: 1069px) and (min-width: 806px) {
  .Logo {
    display: none;
  }
}

@media (max-width: 805px) {
  .Logo {
    height: 100px;
    width: 110px;
  }
}