 .toggle_button {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 24px;
   width: 30px;
   background: transparent;
   border: none;
   cursor: pointer;
   padding: 0;
   box-sizing: border-box;
   margin-left: 50px;
   margin-top: 40px;
 }

 .toogle_button:focus {
   outline: none;
 }

 .toggle_button_line {
   width: 30px;
   height: 1px;
   background: blue;
 }

 .side_drawer {
   height: 100%;
   background: white;
   box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
   position: fixed;
   top: 0;
   left: 0;
   width: 70%;
   max-width: 200px;
   z-index: 600;
 }

 .side_drawer ul {
   height: 100%;
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .side_drawer li {
   color: #ed998c;
   text-decoration: none;
   margin: 0.5rem 0;
 }

 .side_drawer a:hover, .side_drawer a:active {
   color: #ed998c;
 }

 .Text_Style_2 {
   font-family: Ubuntu;
   font-size: 20px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: 1;
   letter-spacing: normal;
   text-align: center;
   color: #334144;
 }