.NavigationItems {
  padding: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  margin-top: 30px;
  margin-right: 60px;
}

.window {
  width: 1100px;
  margin: 0 auto;
  position: absolute;
  top: 380px;
  box-shadow: 20px 20px 40px 1px #656565;
  z-index: 400;
}


.ModalClosed {
  display: none;
}
