.NavigationItems {
  padding: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  margin-top: 30px;
  margin-right: 60px;
}

.ModalClosed {
  display: none;
}

@media (max-width: 980px) {
  .NavigationItems{
    width: 400px;
    margin-top: 50px;
    margin-right: 400px;
  }
}

@media (max-width: 805px) {
  .NavigationItems{
    display: none;
  }
}
